.heading-light{
  background-color: black;
  color:white;
}
.container{
  padding: 20px 15px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 10px 20px;
}
.nav-links{
  list-style-type: none;
  display: flex;
}
.nav-links .nav-link{
  margin-left: 20px;
}
.link-text{
  text-decoration: none;
  color:black;
}